.main-title {
  font-family: sans-serif;
  text-align: center;
  font-weight: lighter;
  color: var(--titleColor);
}

.bold {
  font-weight: 900;
}

.list {
  margin: auto;
  width: 70%;
  max-width: 1000px;
  padding: 10px;
  justify-content: center;
  font-family: sans-serif;
  font-style: normal;
  line-height: 22px;
  text-align: center;
  font-weight: bolder;
  color: var(--textColor);
}

.current-user {
  color: var(--accentColor_light);
  font-weight: bold;
}
