<div class="main-container">
  <div class="creation-container">
    <div class="creation-title">Title: <input type="text" placeholder="Add descriptive title." [(ngModel)]="title"></div>
    <div class="card-container">
      <div class="matrix-container">
        <div *ngFor="let emoji of emojis; let i = index">
          <button class="creation-item" [style.border]="this.index == i ? '1px solid #751AE5' : 'none'"
                  (click)="this.index = i"> {{emoji}}
          </button>
        </div>
      </div>
      <div class="emojis-count-container">
        <div class="warning" *ngIf="count !== 0"> Choose from the list below! {{count}} emojis left.</div>
        <div class="center" *ngIf="count === 0"> ✅ Matrix complete!</div>
      </div>
    </div>
    <div class="creation-hint">Hint:
      <input type="text" placeholder="Add hint." [(ngModel)]="hint">
    </div>
    <div class="creation-difficulty" [class.warning-border]="!hasDifficulty()">Difficulty:
      <button class="button_difficulty" [style.border]="this.difficulty == 1 ? '1px solid #751AE5' : 'none'" (click)="this.difficulty = 1">{{chili}}️</button>
      <button class="button_difficulty" [style.border]="this.difficulty == 2 ? '1px solid #751AE5' : 'none'"(click)="this.difficulty = 2">{{chili}}{{chili}}</button>
      <button class="button_difficulty" [style.border]="this.difficulty == 3 ? '1px solid #751AE5' : 'none'"(click)="this.difficulty = 3">{{chili}}{{chili}}{{chili}}</button>
    </div>
    <button class="save-button" [disabled]="!isValidInput()" (click)="saveMatrix()">Save Matrix</button>
    <div *ngIf="success"> Your Matrix was saved!</div>
  </div>
</div>
<div class="possible-input-container">
  <div class="possible-emojis-container" *ngIf="!success" class="possible-input scrollable-div">
    <div *ngFor="let emoji of possibleInput">
      <button class="possible-input-button" (click)= addAndCount(emoji)>{{emoji}}</button>
    </div>
  </div>
</div>


