<div class="main-container">
  <div class="creation-container">
    <div class="card-container">
      <div class="matrix-container">
        <div *ngFor="let emoji of emojis; let i = index">
          <div class="matrix-item">
          </div>
        </div>
      </div>
      <div class="card-basic-info">
        <div>❤️</div>
        <div>Chilly</div>
      </div>
      <button *ngIf="true">Solve</button>
      <div *ngIf="true"></div>
    </div>
    <div>
      <span *ngIf="true">{{addMatrixCreationString}}</span>
      <span *ngIf="true">{{hint}}</span>
    </div>
    <div>
      <button>🌶️</button>
      <button>🌶🌶</button>
      <button>🌶🌶🌶</button>
    </div>
    <div class="possible-input scrollable-div">
      <div *ngFor="let emoji of possibleInput">
        <button class="possible-input-button" (click)="addMatrixCreationString = emoji">{{emoji}}</button>
      </div>
    </div>
  </div>
</div>

