div, p {
  font-family: sans-serif;
}

.center-text {
  margin-top: 10px;
  text-align: center;
  color: var(--titleColor);
}

.main-title {
  font-family: sans-serif;
  text-align: center;
  font-weight: lighter;
  color: var(--titleColor);
}

.bold {
  font-weight: 900;
}

.main-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.creation-container {
  display: flex;
  flex-direction: column;
}

.possible-emojis-container {
  display: flex;
}

.possible-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.possible-input-title {
  color: var(--titleColor);
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  border-width: 1px;
  border-style: solid;
  border-color: var(--borderColor);
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background: var(--cardColor);
}

.matrix-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  padding: 10px;
  width: fit-content;
}

.emojis-count-container {
  font-size: smaller;
}

.possible-input {
  display: flex;
  justify-content: center;
}

.possible-input-button {
  background: var(--cardColor);
}

.possible-input-button:hover {
  background-color: var(--backgroundColor);
}

.possible-input-button:active {
  transform: translateY(2px);
}

.creation-item {
  background: var(--backgroundColor);
  color: var(--borderColor);
  min-width: 52px;
  max-width: 52px;
  min-height: 42px;
  max-height: 42px;
  padding: 0;
}

.creation-item:hover {
  background-color: var(--cardColor);
}

.creation-title {
  display: flex;
  justify-content: normal;
  color: var(--titleColor);
  font-weight: bold;
  font-size: 11pt;
  margin: 15px 0 0 0;
}

.creation-hint {
  display: flex;
  justify-content: normal;
  color: var(--titleColor);
  font-weight: bold;
  font-size: 11pt;
  margin: 15px 0 0 0;
}

.creation-hidden-item {
  display: flex;
  justify-content: normal;
  color: var(--titleColor);
  font-weight: bold;
  font-size: 11pt;
  margin: 15px 0 0 0;

}

.creation-difficulty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--titleColor);
  font-weight: bold;
  font-size: 11pt;
  margin: 15px 0 15px 0;
}

input {
  width: 70%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--borderColor);
  color: var(--titleColor);
}



.button_difficulty {
  background: var(--cardColor);
  padding: 4px 8px 4px 8px;
}

.button_difficulty:hover {
  background: var(--backgroundColor);
}

.scrollable-div {
  display: grid;
  grid-template-columns: repeat(5, 52px);
  grid-template-rows: repeat(3, auto);
  gap: 5px;
  max-height: 150px;
  overflow: auto;
  margin-bottom: 50px;
}

.save-button:disabled {
  color: var(--backgroundColor);
  background: var(--cardColor);
  pointer-events: none;
}

input[type=text] {
  font-family: sans-serif;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--borderColor);;
  width: 100%;
  margin-bottom: 5px;
  color: var(--textColor);
}

.warning {
  color: var(--warningColor);
  text-align: center;
}

.center {
  text-align: center;
  color: var(--titleColor);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--warningColor);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--warningColor);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--warningColor);
}

.warning-border {
  color: var(--warningColor);
}
