body, a, div {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.background-header-matrices {
  height: 288px;
  background: linear-gradient(264.49deg, #751AE5 19.02%, #9E6BF5 61.4%, #0D37FC 105.54%);
  display: flex;
}

.header-item {
  position: absolute;
  width: 173px;
  height: 85px;
  left: calc(50% - 173px / 2 - 0.5px);
  top: 39px;
}

.welcome-message {
  position: absolute;
  width: 720px;
  height: 50px;
  left: calc(50% - 720px / 2);
  top: 155px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.tagline {
  position: absolute;
  width: 402px;
  height: 22px;
  left: calc(50% - 402px / 2);
  top: 232px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.menu-container {
  padding: 8px 8px 0 8px;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 700;
}

.menu-container-center {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
