<div class="background-header-matrices">
  <img class="header-item" src="assets/epp_logo.svg" alt="Emoji Patter Prodigy Logo">
  <p class="welcome-message">Welcome to Emoji Pattern Prodigy, where you can learn the fundamental thinking principles
    of programming to help
    you become a skilled developer.</p>
  <p class="tagline">Think outside the emoji box! 😉</p>
</div>

<nav>
  <a routerLink="matrices">Main</a> ||
  <a routerLink="algorithmic">Algorithmic thinking</a> ||
  <a routerLink="about">About </a>||
  <a routerLink="login">Login </a>
</nav>

<hr>
<router-outlet></router-outlet>
