.card-container {
  margin: auto;
  width: 70%;
  display: grid;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  flex-direction: row;
  text-align: center;
  font-family: sans-serif;
}

.main-title {
  font-family: sans-serif;
  text-align: center;

  font-weight: lighter;
  color: #751AE5;
}

.bold {
  font-weight: 900;
}

.emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: xxx-large;
}

.portrait {
  background: #FFFFFF;
  margin: auto;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.name {
  white-space: nowrap;
  color: #751AE5;
  font-weight: 300;

  margin: 0 auto;
  padding-top: 20px;
}

.spirit-animal {
  margin: 0 auto;
  padding-bottom: 20px;
}

.attribute {
  color: #751AE5;
  margin: 0 auto;
  padding-bottom: 20px;
  width: 65%;
  min-height: 40px;
}

.card {
  height: 300px;
}

.logo {
  width: 30px;
}

.title {
  font-family: sans-serif;
  text-align: center;
  font-size: large;
  color: #751AE5;
  padding-top: 80px;
}

.block-text {
  margin: auto;
  width: 70%;
  max-width: 1000px;
  padding: 10px;
  justify-content: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #000000;
}
