<h1 class="main-title">Meet the <span class="bold">Team</span></h1>

<div class="card-container">
  <div class="card">
    <div class="portrait">
      <p class="emoji">🐈</p>
    </div>
    <h2 class="name">JOSI</h2>
    <p class="spirit-animal">the cat</p>
    <p class="attribute">smart and with a keen sense of observation</p>
    <a href="https://github.com/Ru79jel"><img class="logo" src="assets/github.svg" alt="github Logo"></a>
  </div>
  <div class="card">
    <div class="portrait">
      <p class="emoji">🐿️</p>
    </div>
    <h2 class="name">ALINA</h2>
    <p class="spirit-animal">the sqiurrel</p>
    <p class="attribute">agile and effectively utilizing resources</p>
    <a href="https://github.com/neko5687"><img class="logo" src="assets/github.svg" alt="github Logo"></a>
  </div>
  <div class="card">
    <div class="portrait">
      <p class="emoji">🦋</p>
    </div>
    <h2 class="name">SEBASTIAN</h2>
    <p class="spirit-animal">the butterfly</p>
    <p class="attribute">adapts and moves quickly and effortlessly</p>
    <a href="https://github.com/JefCos"><img class="logo" src="assets/github.svg" alt="github Logo"></a>
  </div>
  <div class="card">
    <div>
      <div class="portrait">
        <p class="emoji">🦆</p>
      </div>
      <h2 class="name">RUBBER DUCK</h2>
      <p class="spirit-animal">the duck</p>
      <p class="attribute">patient, always has an open ear for the team</p>
      <a href="https://en.wikipedia.org/wiki/Rubber_duck_debugging"><img class="logo" src="assets/github.svg" alt="github Logo"></a>
    </div>
  </div>
</div>

<div>
  <h1 class="title">The Three Emojiteers 🐈🐿️🦋</h1>
  <div>
    <p class="block-text">
      Welcome to our "About Us" page!
      We are a team of developers-to-be passionate about teaching algorithmic
      thinking to students of all ages. Our goal is to make the process of learning how to think like
      a computer scientist fun and accessible. <br><br>

      We believe that everyone can benefit from learning algorithmic thinking. Algorithmic thinking is a valuable
      life skill that can help students succeed in their academic and professional pursuits. <br><br>

      Our approach to teaching algorithmic thinking is inspired by the use of emoji patterns.
      Emojis can be used to represent complex ideas in a simple and fun way. We believe that by using emoji patterns,
      we can make algorithmic thinking more accessible and engaging to learners of all levels. <br><br>

      We are committed to creating a learning environment where students feel empowered to explore, create,
      and problem-solve using algorithmic thinking. We believe that by teaching algorithmic thinking with the
      help of emoji patterns, we can help students develop the skills they need to succeed in the digital age. <br><br>
    </p>
  </div>
</div>


