<h1 class="main-title">Rules </h1>


<p class="block-text">You get <span class="bold-colorful">15 seconds</span>  to solve each pattern.
  Timer starts after clicking the solve-button.
  You can only solve <span class="bold-colorful">once!</span>
  <br>
  You can earn points in the following way:
</p>

<div class="list">
  <ul>
    <li> 200 points per difficulty-level (200/🌶️,400/🌶️🌶️,600/🌶️🌶️🌶️)</li>
    <li> every second passed: -10 points</li>
    <li> using a hint: -50 points</li>
  </ul>
</div>

<p class="block-text">Try to solve as quick as you can to save the first place in hall of fame.
  <br>
If you like you can vote on the pattern afterwards. </p>
<h1 class="title bold-colorful">Good luck!</h1>
