body, a, div, label {
  font-family: Arial, Helvetica, sans-serif;
}

label {
  color: var(--titleColor);
  font-weight: bold;
}

.main-title {
  font-family: sans-serif;
  text-align: center;
  font-weight: lighter;
  color: var(--titleColor);
}

.bold {
  font-weight: 900;
}

.main-container {
  display: flex;
  justify-content: center;
}

.signin-container {
  width: 400px;
  background: var(--cardColor);
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 20px 20px 20px;
  margin: 0 20px 40px 20px;
}

.div-min-hight {
  min-height: 40px;
}

.center {
  display: flex;
  justify-content: center;
}

.signin-button:disabled {
  color: darkgray;
  background: lightgray;
  pointer-events: none;
}

.not-validated {
  font-size: 14px;
  color: orangered;
}

input[type=text] {
  background: transparent;
  color: var(--textColor);
  border: none;
  border-bottom: 1px solid gray;
  width: 100%;
  margin-bottom: 5px;
}

input[type=email] {
  background: transparent;
  color: var(--textColor);
  border: none;
  border-bottom: 1px solid gray;
  width: 100%;
  margin-bottom: 5px;
}

input[type=password] {
  background: transparent;
  color: var(--textColor);
  border: none;
  border-bottom: 1px solid gray;
  width: 100%;
  margin-bottom: 5px;
}
