.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 70px 70px;
  width: 80%;
  margin: 0 auto;
  padding-top: 70px;
}

.card-container {
  width: fit-content;
  border-width: 1px;
  border-style: solid;
  border-color: #751AE5;
  padding: 10px;
  border-radius: 10px;
  background: #FFFFFF;
}

.matrix-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0 20px;
  padding: 10px;
  width: fit-content;
}

.matrix-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.question-mark-item {
  width: 30px;
  height: 30px;
}

.card-basic-info {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-button {
  width: 100%;
}

.sort-button {
  width: auto;
  color: #751AE5;
  background: #FFFFFF;
  margin: 7px;
}

.sort-button:hover {
  background-color: #f4f4f4;
}

.sort-button:active {
  transform: translateY(2px);
}
