.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 70px 80px;
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}

.main-title {
  font-family: sans-serif;
  text-align: center;
  font-weight: lighter;
  color: var(--titleColor);
}

.h1UnderSort {
  margin-top: 0;
}

.bold {
  font-weight: 900;
}

.card-container {
  width: fit-content;
  border-width: 1px;
  border-style: solid;
  border-color: var(--borderColor);
  padding: 10px;
  border-radius: 10px;
  background: var(--cardColor);
}

.matrix-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border-spacing: 0 20px;
  padding: 10px;
  width: 200px;
}

.matrix-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding-left: 3px;
  padding-right: 3px;
}

.placeholder-item {
  width: 30px;
  height: 30px;
  background-image: var(--placeholder-arrow);
}

.question-mark-item {
  width: 30px;
  height: 30px;
  background-image: var(--question-mark-box);
  background-size: contain;
}

.card-basic-info {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--textColor);
}

.card-button {
  width: 100%;
}

.sort-button {
  width: auto;
  color: var(--textColor);
  background: var(--cardColor);
  margin: 7px 7px 7px 0;
  padding: 4px 6px 4px 6px;
}

.sort-button:hover {
  background-color: var(--borderColor);

}

.sort-button:active {
  transform: translateY(2px);
}
.sort-by {
  margin-top: -39px;
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  color: var(--menuColor);
}
.matrix-id-container {
  display: flex;
  justify-content: space-between;
  width: 228px;
  margin-top: 20px;
  padding-left: 7px;
  padding-right: 7px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}

.matrix-id-title {
  color: var(--titleColor);
  font-weight: bold;
}

.matrix-id-name {
  color: var(--titleColor);
  font-style: italic;
  font-size: 12px;
  align-self: flex-end;
}
.username {
  margin-top: -18px;
}
