<div>
  <label for="sort-dropdown">Sort by:</label>
  <select id="sort-dropdown">
  <option (click)="sortByVote()">votes ↑↓</option>
  <option (click)="sortByDifficulty()">difficulty ↑↓</option>
  </select>
</div>

<div class="cards-grid">
  <div class="card-container" *ngFor="let matrix of matrices">
    <div class="matrix-container">
      <div class="matrix-item" *ngFor="let emoji of matrix.matrix; let i = index">
        <span *ngIf="i < 3">{{emoji}}</span>
        <span *ngIf="i >= 3 && i<24">➡️</span>
        <span *ngIf="i ===24">⏹️</span>
      </div>
    </div>
    <hr>
    <div class="card-basic-info">
      <span>❤️ {{matrix.vote}}</span><span>00:15</span><span>{{matrix.difficulty}}</span>
    </div>
    <div>
      <button [routerLink]="'/matrices/' + matrix.id" class="card-button">{{matrix.title}}</button>
    </div>

  </div>
</div>
