<div>
  <button (click)="sortByVote()">❤️↑↓</button>
  <button (click)="sortByDifficulty()">🌶️↑↓</button>
</div>

<div class="cards-grid">
  <div class="card-container" *ngFor="let matrix of matrices">
    <div class="matrix-container">
      <div class="matrix-item" *ngFor="let emoji of matrix.matrix; let i = index">
        <span *ngIf="i < 3">{{emoji}}</span>
        <span *ngIf="i >= 3 && i<24">  <img class="matrix-item" src="assets/arrow-circle.svg" alt="Placeholder Arrow"></span>
        <span *ngIf="i ===24">  <img class="question-mark-item" src="assets/questionmark-box.svg" alt="Placeholder Arrow"></span>
      </div>
    </div>
    <hr>
    <div class="card-basic-info">
      <span>❤️ {{matrix.vote}}</span><span>00:15</span><span>{{matrix.difficulty}}</span>
    </div>
    <div>
      <button [routerLink]="'/matrices/' + matrix.id" class="card-button">{{matrix.title}}</button>
    </div>

  </div>
</div>
