<div class = "sort-by">
  <div >Sort by</div>
  <button class="sort-button" (click)="sortByVote()">❤️ ↑↓</button>
  <button class="sort-button"  (click)="sortByDifficulty()">🌶️ ↑↓</button>
</div>
<div *ngIf=" userName != null && userName.length != 0" class="username">
  <span>User: {{userName}} | Points: {{userPoints}}</span>
</div>
<h1 class="main-title h1UnderSort">Choose your <span class="bold">Challenge</span></h1>
<div class="cards-grid">
<div *ngFor="let matrix of matrices">
  <div class="matrix-id-container">
    <div class="matrix-id-title">
      {{matrix.title}}
    </div>
    <div class="matrix-id-name">
      by {{matrix.creatorName}}
    </div>
  </div>
  <div class="card-container" >
    <div class="matrix-container">
      <div class="matrix-item" *ngFor="let emoji of matrix.matrix; let i = index">
        <div *ngIf="i < 3">{{emoji}}</div>
        <div class="placeholder-item" *ngIf="i >= 3 && i<24">  </div>
        <div class="question-mark-item" *ngIf="i ===24"></div>
      </div>
    </div>
    <hr>
    <div class="card-basic-info">
      <span>❤️ {{matrix.vote}}</span><span>00:15</span><span>{{matrix.difficulty}}</span>
    </div>
    <div>
      <button [routerLink]="'/matrices/' + matrix.id" class="card-button">Challenge accepted</button>
    </div>
  </div>
  </div>
</div>
