<div class="matrix-container">
  <div *ngFor="let emoji of matrix.matrix; let i = index">
    <div class="matrix-item">
      <span *ngIf="i < 24">{{emoji}}</span>
      <span *ngIf="i === 24">{{matrixSolution}}</span>
    </div>
  </div>
</div>
<div *ngIf="isSolving&&!afterSolving">
  <div *ngFor="let emoji of possibleInput">
    <button (click)="matrixSolution = emoji">{{emoji}}</button>
  </div>
</div>
<div *ngIf="isSolving&&!afterSolving">Timer: {{remainingSeconds}}</div>
<button *ngIf="!isSolving" (click)="startSolving()">Solve</button>
<button *ngIf="isSolving&&!afterSolving" (click)="endSolving()">Submit</button>
<div *ngIf="afterSolving&&isCorrect">Correct!</div>
<div *ngIf="afterSolving&&!isCorrect">False!</div>
<button *ngIf="votingPossible" (click)="upvote()">⬆️</button>
<button *ngIf="votingPossible" (click)="downvote()">⬇️</button>
<button *ngIf="isSolving&&!afterSolving" (click)="showHint()">Hint</button>
<div *ngIf="hintVisible">{{matrix.hint}}</div>

