body, a, div, span {
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  margin: 0;
}

.center-text {
  text-align: center;
}


.main-title {
  font-family: sans-serif;
  text-align: center;
  font-weight: lighter;
  color: var(--titleColor);
}

.h1UnderLoginName {
  margin-top: 0;
}

.bold {
  font-weight: 900;
}

.username {
  color: var(--titleColor);
  display: flex;
  justify-content: end;
  margin: 5px 7px 0 0;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.matrix-id-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.matrix-id-title {
  color: var(--titleColor);
  font-weight: bold;
}

.matrix-id-name {
  color: var(--titleColor);
  font-style: italic;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-width: 1px;
  border-style: solid;
  border-color: var(--borderColor);
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background: var(--cardColor);
  color: var(--textColor);
}

.matrix-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0 10px;
  padding: 10px;
  width: fit-content;
}

.card-basic-info {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  width: 292px;
  margin-top: 10px;

}

.matrix-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.placeholder-item {
  width: 30px;
  height: 30px;
  background-image: var(--placeholder-arrow);
}

.question-mark-item {
  width: 30px;
  height: 30px;
  background-image: var(--question-mark-box);
  background-size: contain;
}

.possible-input {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  row-gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-possible-input {
  width: 100%;
  min-height: 90px;
}

.possible-input-button {
  background: var(--backgroundColor);
  margin: 0 2px 0 2px;
}

.possible-input-button:hover {
  background-color: var(--cardColor);
}

.possible-input-button:active {
  transform: translateY(2px);
}

.voting-container {
  display: flex;
  justify-content: space-between;
}

.vote-button {
  border-style: solid;
  border-width: 2px;
  border-color: var(--titleColor);
  background: transparent;
  color: var(--titleColor);
  padding: 2px 8px 2px 8px;
  margin: 0 5px 0 5px;
}

.vote-button:hover {
  background-color: #f4f4f4;
}

.vote-button:active {
  transform: translateY(2px);
}

.back-button {
  border-style: solid;
  border-width: 2px;
  border-color: var(--titleColor);
  background: transparent;
  color: var(--titleColor);
  padding: 2px 4px 2px 4px;
  margin: 0 5px 0 5px;
  width: 65px;

}

.hint-button {
  border-style: solid;
  border-width: 2px;
  border-color: var(--titleColor);
  background: transparent;
  color: var(--titleColor);
  padding: 2px 4px 2px 4px;
  margin: 0 5px 0 5px;
  width: 65px;
}

.hint {
  color: var(--textColor);
  font-weight: bold;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.timer {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: larger;
}

.solution {
  border: 1px solid black;
}

.question-mark-item {
  width: 30px;
  height: 30px;
}
